@import 'bootstrap';
@import 'toastr/toastr';
@import 'errors';

html,
body {
  height: 100%;
}

.footer {
  display: block;
  bottom: 0;
  width: 100%;
  line-height: 2em;
  background-color: #f5f5f5;

  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
}

main.container {
  padding-bottom: 20px;
  min-height: -moz-calc(100% - 9.4em);
  min-height: -webkit-calc(100% - 9.4em);
  min-height: calc(100% - 9.4em);
}

#toast-container {
  top: 4em;
}

.new-article-form .card-body {
  padding: 0.5em 1em;
}

.text-right > .btn > a {
  color: #f8f9fa;
}

#invoices_table .sorting_desc::after {
  content: ' ⬇';
  color: #189200;
}

#invoices_table .sorting_asc::after {
  content: ' ⬆';
}

.cursor-info {
  cursor: context-menu;
}

.btn {
  &.edit-icon::before {
    content: '✏️';
    display: inline-block;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }

  &.logout-user-icon::before {
    content: '⏏️  ';
  }

  &.submit-icon::before {
    content: '✉️ ';
  }

  &.add-new-icon::before {
    content: '➕ ';
  }
}

// @keyframes heartbeat {
//   0% {
//     font-size: .75em;
//   }
//   20% {
//     font-size: 1em;
//   }
//   40% {
//     font-size: .75em;
//   }
//   60% {
//     font-size: 1em;
//   }
//   80% {
//     font-size: .75em;
//   }
//   100% {
//     font-size: .75em;
//   }
// }

// span.heart-icon{
//   animation: heartbeat 1s infinite;
// }
