<footer class="footer text-white bg-dark">
  <div class="container light-green darken-1">
    <div class="text-center py-3">
    © Copyright <%= Date.today.year %>:
      Source code available on
      <a href='https://github.com/Synkevych/money_spent_counter' target='_blank' rel='noopener noreferrer'>
          GitHub
      </a>
    <div>
  </div>
</footer>
