<footer>
  <div class="footer-copyright light-green darken-1">
    <div class="container">
      © Copyright <%= Date.today.year %>
    <div class="right">
      Source code available on
      <a href='https://github.com/Synkevych/money_spent_counter' target='_blank' rel='noopener noreferrer'>
          GitHub
      </a>
    </div>
    </div>
  </div>
</footer>
