<footer class="footer text-white bg-dark">
  <div class="container light-green darken-1">
    <div class="text-center py-3">
    <div> Coded and built with <span class="heart-icon">❤️</span> by <a href='https://www.linkedin.com/in/synkevych' target='_blank' rel='noopener noreferrer'>Synkevych</a>
      Source code available on
      <a href='https://github.com/Synkevych/money_spent_counter' target='_blank' rel='noopener noreferrer'>
          GitHub
      </a>
    </div>
    <div>© Copyright <%= Date.today.year %></div>
    <div>
  </div>
</footer>
